<h1 class="mt-5">Agregar producto</h1>
<hr>    

<form [formGroup]="miFormulario">

    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label class="col-form-label">Nombre</label>
        </div>
        <div class="col-auto">
            <input  class="form-control"
                    formControlName="nombre">
        </div>
        <div class="col-auto" >
            <span   [valido]="!tieneError('nombre')"
                    ErrMsg
                    [texto]= "texto2"
                    [color]="color">
                    
            </span>
        </div>

    </div>


    <!-- Tests del formulario -->
    <div class="row mt-5">
        <div class="col">
            <button class="btn btn-primary"
                    (click)="cambiarNombre()">
                <i class="bi bi-bookmark"></i>
                Guardar
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                  </svg>
            </button>
            &nbsp;
            <button class="btn btn-primary ml-3"
                    (click)="cambiarColor()">
                <i class="bi bi-bookmark"></i>
                Cambiar Color
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                  </svg>
            </button>
            
        </div>  
    </div>

</form>



<div class="row g-3">
    <div class="col ">
        <h3 class="mt-5">Formulario</h3>
      </div>
    
</div>
<div class="row">
   <div class="col ">   
    <p class="fw-bolder"> Valid:{{miFormulario.valid}} </p>
</div>
<div class="col">
     <p class="fw-bolder">Value:{{miFormulario.value | json}}</p>
</div> 
</div>

<div class="row mt-5 fw-bolder" 
     *customIf="miFormulario.valid">
    <div class="col">
        <div class="alert alert-primary">
            Todo correcto!
        </div>
    </div>
</div>
